*{
    outline: .5px solid red;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1500px;
    margin: auto;
  }
  .page-container{
    padding-left: 200px;
    padding-right: 200px;
  }
.hero1{
   /* background-color: #1f2937; */
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.nav{
    margin-left: 2em;
    margin-right: 2em;
}

.hlink1, .hlink2, .hlink3 {
    padding-right: 20px;
}

.hero1-1{
    display: flex;
    padding-top: 56px;
    padding-bottom: 56px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero1-1hd{
    font-size: 48px;
    font-weight: bolder;
}

.hero1-1sb{
    font-size: 18px;

}
.hero1-1hd, .hero1-1sb{
    width: 40%;
    margin-bottom: 8px;
}

.hero1-1img{
    
    width: 40%;
    
}

button {
    background-color: #3882f6;
    color: white;
    height: 20px;
    width: 110px;
}

.hero2-1{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.item{
    width:200px;
    text-align:center;
    display:block;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
  }
  
  #gallery{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero3{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .item2{
    width:700px;
    text-align:start;
    display:block;
    margin-right: 10px;
    margin-bottom: 1px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    
  }
  p{
    margin-bottom: 10px;
  }

  .quote{
    text-align: end;
    font-size: 16px;
    font-style: normal;
    font-weight: bolder;
  }

  .cl2action{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 90px;
    margin-right: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .item3{
    width:400px;
    text-align:left;
    display:block;
    margin-right: 10px;
    margin-bottom: 0px;
    float:left;
  }

  .button2{
    border: white;
  }

  .footer{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #1f2937;
    color: #f9faf8;
  }